/* Navigation */

body { 
  padding-top: 65px !important;
}

.first a {
  padding: 8px 10px !important;
}

.first img {
  height: 34px;
}

*[id]:before { 
  display: block; 
  content: " "; 
  margin-top: -70px;
  height: 70px; 
  visibility: hidden;
}


/* Footer */

.footer {
  background-color: #f8f8f8;
  padding: 30px 0 !important;
  font-size: 1em;
}

.footer a {
  color: inherit;
}

.footer a:hover {
  color: inherit;
  text-decoration: none;
  color: #555;
}

.footer .container{
  margin-bottom: -10px
}