<% content_for :title, "About" %>

<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-12 about-block">
        <h3 id="mission" class="large-header">Mission</h3>
        <div>
          <p>The mission of Armada Robotics is to offer students the opportunity to learn leadership, experience, and real-world techniques to creatively meet an engineering challenge with the help
          of experienced mentors. The team will also foster a cooperative environment dedicated to the growth of all members and mentors as well as the community and other FIRST teams-all while
          having fun!</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 about-block">
        <h3 id="contact" class="large-header">Contact</h3>

        <address>
          <strong>Stillwater Area High School</strong><br>
          5701 Stillwater Blvd N.<br>
          Stillwater, MN 55082<br>
          Rooms: B116, B120, B122, B124<br />
        </address>

        <address>
          <strong>Team Email</strong><br>
          <a href="mailto:info@frc2508.org">info@frc2508.org</a>
        </address>
      </div>
    </div>
  </div>
</div>
