<% content_for :title, "About" %>

<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-12 about-block">
        <h3 id="mission" class="large-header">Mission</h3>
        <div>
          <p>
          The mission of Armada Robotics is to offer students the opportunity to gain leadership skills, 
          hands-on learning experience, and acquire real-world techniques within the STEM field all while having fun. 
          We also do not cost members a fee to join, we only require motivation and a willingness to learn, empowering 
          any student with any background to develop a passion for STEM to build the next generation of engineers.
          </p>
          <address>
            <a style="font-weight:bold" href="https://www.thebluealliance.com/team/2508">The Blue Alliance</a>
          </address>
          <address>
            <a style = "font-weight:bold" href = "https://github.com/Armada2508">Github</a>
          </address>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 about-block">
        <h3 id="contact" class="large-header">Contact</h3>

        <address>
          <strong>Stillwater Area High School</strong> <br>
          5701 Stillwater Blvd N.<br>
          Stillwater, MN 55082<br>
          Rooms: B124<br />
        </address>

        <address>
          <strong>Teacher Supervisor</strong> <br>
          Chris Mentz (he / him / his) <br>
          (651) 351-8231 <br>
          <a href="mailto:mentzc@stillwaterschools.org">mentzc@stillwaterschools.org</a>
        </address>

        <address>
          <strong>Buisness Lead</strong> <br>
          Cody Rasch (she / her / hers) <br>
          (651) 472-3467 <br>
        </address>

        <address>
          <strong>Team Email</strong><br>
          <a href="mailto:armada.robotics2508@gmail.com">armada.robotics2508@gmail.com</a>
        </address>
      </div>
    </div>
  </div>
</div>
