<% content_for :title, "Donate" %>

Armada Robotics Team 2508 is in continuous need of monetary donations with which to purchase materials (e.g. tools and hardware). Please know that no donation is too small, and that Armada greatly
appreciates each of its supporters. <span class="text-muted">Thank you!</span>

<div class="container-marketing">
  <div class="row">
    <div class="col-lg-6">
      <img class="img-square" src="assets/images/donate/elsepay.png" style="width: 140px; height: 140px; margin-bottom: 20px;">

      <p><a class="btn btn-default" href="#howtodonate">Mail a check/Contact a mentor &raquo;</a></p>
    </div>

    <div class="col-lg-6">
      <img class="img-square" src="assets/images/donate/pplogo.jpg" style="width: 300px; height: 140px; margin-bottom: 20px;">

      <p><a class="btn btn-default" href="https://crm.bloomerang.co/HostedDonation?ApiKey=pub_f479e4eb-7e7b-11e5-85c2-0a1b37ae639f&WidgetId=80896" target="_blank">Donate online through the Partnership Plan
      &raquo;</a></p>
    </div>
  </div>
</div>
<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-6">
    <h2 class="featurette-heading">Why donate to Stillwater Armada Robotics? <span class="text-muted">Support future leaders.</span></h2>

    <p class="lead">Although this robotics team has several amazing coaches and mentors, the majority of Armada's functions are student-led. Many of our members will move on to universities and
    careers that will utilize the leadership skills learned right here in Armada Robotics.</p>
  </div>

  <div class="col-md-6">
    <div id="carousel1" class="carousel slide" rel-speed="3000">
      <ol class="carousel-indicators">
        <li data-target="#carousel1" data-slide-to="0" class="active"></li>
        <li data-target="#carousel1" data-slide-to="1"></li>
        <li data-target="#carousel1" data-slide-to="2"></li>
        <li data-target="#carousel1" data-slide-to="3"></li>
        <li data-target="#carousel1" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="img-thumbnail" src="/assets/images/pictures/dakginjakjoe.jpg">
        </div>
        <div class="item">
          <img class="img-thumbnail" src="/assets/images/pictures/keebranoa.jpg">
        </div>
        <div class="item">
          <img class="img-thumbnail" src="/assets/images/pictures/davbrajoegin.jpg">
        </div>
        <div class="item">
          <img class="img-thumbnail" src="/assets/images/pictures/symjoedakdav.jpg">
        </div>
        <div class="item">
          <img class="img-thumbnail" src="/assets/images/pictures/davjoe.jpg">
        </div>
      </div>
    </div>
  </div>
</div>

<hr />

<div class="row featurette">
  <div class="col-lg-6">
    <div id="carousel2" class="carousel slide" rel-speed="3000">
      <ol class="carousel-indicators">
        <li data-target="#carousel2" data-slide-to="0" class="active"></li>
        <li data-target="#carousel2" data-slide-to="1"></li>
        <li data-target="#carousel2" data-slide-to="2"></li>
        <li data-target="#carousel2" data-slide-to="3"></li>
        <li data-target="#carousel2" data-slide-to="4"></li>
        <li data-target="#carousel2" data-slide-to="5"></li>
        <li data-target="#carousel2" data-slide-to="6"></li>
        <li data-target="#carousel2" data-slide-to="7"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="img-thumbnail" src="/assets/images/pictures/dak.jpg">
        </div>
        <div class="item">
          <img class="img-thumbnail" src="/assets/images/pictures/gin.jpg">
        </div>
        <div class="item">
          <img class="img-thumbnail" src="/assets/images/pictures/kyl.jpg">
        </div>
        <div class="item">
          <img class="img-thumbnail" src="/assets/images/pictures/bramic.jpg">
        </div>
        <div class="item">
          <img class="img-thumbnail" src="/assets/images/pictures/kyl.jpg">
        </div>
        <div class="item">
          <img class="img-thumbnail" src="/assets/images/pictures/micalebra.jpg">
        </div>
        <div class="item">
          <img class="img-thumbnail" src="/assets/images/pictures/patmicbrajakdakgin.jpg">
        </div>
        <div class="item">
          <img class="img-thumbnail" src="/assets/images/pictures/twins.jpg">
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <h2 class="featurette-heading"><span class="text-muted">Foster innovation and creativity.</span></h2>

    <p class="lead">Here at Armada, we use knowledge and experimentation in woodworking, metalworking, software developement, networking, electronics, wiring, and telecommunications, to achieve an
    objective. Please, keep the flame of science, technology, engineering, and mathematics alive by contributing to our robotics team's efforts.</p>
  </div>
</div>

<hr />

<div class="row featurette">
  <div class="col-lg-6">
    <h2 class="featurette-heading"><span class="text-muted">Encourage collaboration.</span></h2>

    <p class="lead">Armada upholds a strong sense of cooporation between different small groups of people that focus on design, mechanics, woodworking, metalworking, electronics, and programming.
    Armada would be unsuccessful without collaboration, just as many of the world's greatest organizations.</p>
  </div>

  <div class="col-lg-6">
    <div id="carousel3" class="carousel slide" rel-speed="3000">
      <ol class="carousel-indicators">
        <li data-target="#carousel3" data-slide-to="0" class="active"></li>
        <li data-target="#carousel3" data-slide-to="1"></li>
        <li data-target="#carousel3" data-slide-to="2"></li>
        <li data-target="#carousel3" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="img-thumbnail" src="/assets/images/pictures/corjoedav.JPG">
        </div>
        <div class="item">
          <img class="img-thumbnail" src="/assets/images/pictures/peabranoa.JPG">
        </div>
        <div class="item">
          <img class="img-thumbnail" src="/assets/images/pictures/mondak.JPG">
        </div>
        <div class="item">
          <img class="img-thumbnail" src="/assets/images/pictures/joekee.JPG">
        </div>
      </div>
    </div>
  </div>
</div>

<hr />

<h3 class="large-header" id="howtodonate">How to Send a Check to Our Team</h3>

<h4></h4>

<ol>
  <li class="double-spaced">Make checks out to SAHS Robotics</li>

  <li>Mail to 5701 Stillwater Blvd N. Stillwater, MN 55082</li>
</ol><br>
We are a non-profit organization and all donations are tax deductible. Thank you!