<% content_for :title, "Events" %>

<div>
	<div class="row">
	  <div class="col-lg-12">
	    <div class="page-header">
	      <h2>
	        Upcoming Events
	      </h2>
	    </div>
	  </div>
	</div>

	 <div class="row">
	   <div class="col-lg-4">
	   		<p>
	   			One of our key goals is to excite people of all ages about STEM.  One of the ways we accomplish this goal is by not only competing at competitions but also by sharing our excitement about what the future brings for STEM.  Below is a calendar detailing all of the events that we will be attending.  We look forward to seeing you there!
	   		</p>
	   	</div>
	   <div class="col-lg-8">
	   		<div class="text-center">
				<iframe src="https://calendar.google.com/calendar/embed?height=460&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FChicago&amp;src=czJ0M2NrcWxydWVxYW5qNWVhN2k0NHFjOTRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23009688&amp;showTitle=0&amp;showDate=1&amp;showNav=1&amp;showTabs=0&amp;showPrint=0&amp;showTz=0&amp;showCalendars=0" width="90%" height="600px" frameborder="0" scrolling="no"></iframe>
	   		</div>
		</div>
	</div>

</div>