<% content_for :title, "Home" %>

<div id="fb-root"></div><script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=191673977560351&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<div class="row">
  <div class="col-lg-6">
    <div id="carousel" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
        <li data-target="#carousel" data-slide-to="3"></li>
        <li data-target="#carousel" data-slide-to="4"></li>
        <li data-target="#carousel" data-slide-to="5"></li>
        <li data-target="#carousel" data-slide-to="6"></li>
        <li data-target="#carousel" data-slide-to="7"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="img-thumbnail" src="/assets/images/pictures/competition.jpg">
        </div>
        <div class="item">
          <img class="img-thumbnail" src="/assets/images/pictures/dakginjakjoe.jpg">
        </div>
        <div class="item">
          <img class="img-thumbnail" src="/assets/images/pictures/symjoedakdav.jpg">
        </div>
        <div class="item">
          <img class="img-thumbnail" src="/assets/images/pictures/bramic.jpg">
        </div>
        <div class="item">
          <img class="img-thumbnail" src="/assets/images/pictures/kyl.jpg">
        </div>
        <div class="item">
          <img class="img-thumbnail" src="/assets/images/pictures/micalebra.jpg">
        </div>
        <div class="item">
          <img class="img-thumbnail" src="/assets/images/pictures/patmicbrajakdakgin.jpg">
        </div>
        <div class="item">
          <img class="img-thumbnail" src="/assets/images/pictures/twins.jpg">
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="page-header" style="margin-top: 0">
      <h2>Welcome to Armada Robotics!</h2>
    </div>

    <p>
      FRC Team 2508, Armada Robotics, is an award winning FIRST Robotics team that operates out of Stillwater Area High School in Stillwater, Minnesota.
      Armada Strives to challenge the youth of its community in a constructive manner thruogh innovative development and teamwork.
    </p>

    <a href="/about" class="btn btn-primary">
      Learn more!
      &raquo;
    </a>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <div class="page-header">
      <h4>Twitter</h4>
    </div>
    <a class="twitter-timeline" data-widget-id="571928974566363136" href="https://twitter.com/FRC2508">Tweets by @FRC2508</a> <script>
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    </script>
  </div>

  <div class="col-lg-4">
    <div class="page-header">
      <h4>Facebook</h4>
    </div>

    <div class="fb-like-box center" data-colorscheme="light" data-header="true" data-height="500" data-href="https://www.facebook.com/frc2508" data-show-border="true" data-show-faces="true"
    data-stream="true"></div>
  </div>

  <div class="col-lg-4">
    <div class="page-header">
      <h4>Find Us Elsewhere</h4>
      </div>
    </div>
  </div>
</div>