<% content_for :title, "Resources" %>

<div class="col-lg-4 text-center">
<div class="page-header">
	<h2>Our Resources</h2>
</div>
	<a class="btn btn-primary btn-block" href="/assets/documents/resources/rookie.pdf" target="_blank">Rookie Handbook</a>
	<a class="btn btn-primary btn-block" href="/assets/documents/resources/build.pdf" target="_blank">Build Handbook</a>
	<a class="btn btn-primary btn-block" href="/assets/documents/resources/mechanical.pdf" target="_blank">Mechanical Handbook</a>
	<a class="btn btn-primary btn-block" href="/assets/documents/resources/programming.pdf" target="_blank">Programming Handbook</a>
	<a class="btn btn-primary btn-block" href="/assets/documents/resources/business.pdf" target="_blank">CAD Handbook</a>
</div>

<div>
	 <div class="row">
	    <div class="col-lg-4 text-center">
		    <div class="page-header">
		    	<h2> Resources</h2>
			</div>
			<a class="btn btn-primary btn-block" href="/assets/images/resources/controlSystem.png" target="_blank">Control System Layout</a>
			<a class="btn btn-primary btn-block" href="https://www.chiefdelphi.com/" target="_blank">Chief Delphi</a>
			<a class="btn btn-primary btn-block" href="https://docs.wpilib.org/" target="_blank">WPILib</a>
			<a class="btn btn-primary btn-block" href="https://phoenix-documentation.readthedocs.io/en/latest/" target="_blank">Phoenix Docs</a>
			<a class="btn btn-primary btn-block" href="https://tavsys.net/controls-in-frc" target="_blank">Control Theory</a>
		</div>
	</div>
</div>
