<div class= "resources">
	<div style = "width:500px; margin:0 auto;">
		<div class = "page header">
			<h2 style = "text-align:center;"> Our Resources </h2>
		</div>
		<a class="btn btn-primary btn-block" href="/assets/documents/resources/rookie.pdf" target="_blank">Rookie Handbook</a>
		<a class="btn btn-primary btn-block" href="/assets/documents/resources/build.pdf" target="_blank">Build Handbook</a>
		<a class="btn btn-primary btn-block" href="/assets/documents/resources/mechanical.pdf" target="_blank">Mechanical Handbook</a>
		<a class="btn btn-primary btn-block" href="/assets/documents/resources/programming.pdf" target="_blank">Programming Handbook</a>
		<a class="btn btn-primary btn-block" href="/assets/documents/resources/CAD Handbook.pdf" target="_blank">CAD Handbook</a>

		<hr>

		<div class = "page header">
			<h2 style = "text-align:center;"> Resources </h2>
		</div>
		<a class="btn btn-primary btn-block" href="/assets/images/resources/controlSystem.png" target="_blank">Control System Layout</a>
		<a class="btn btn-primary btn-block" href="https://www.chiefdelphi.com/" target="_blank">Chief Delphi</a>
		<a class="btn btn-primary btn-block" href="https://docs.wpilib.org/" target="_blank">WPILib</a>
		<a class="btn btn-primary btn-block" href="https://pro.docs.ctr-electronics.com/en/latest/" target="_blank">Phoenix Docs</a>
		<a class="btn btn-primary btn-block" href="https://tavsys.net/controls-in-frc" target="_blank">Control Theory</a>

		<hr>
	</div>
</div>
